# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
unity/AlphaUnityProject/Assets/Demigiant/DOTween.meta
unity/AlphaUnityProject/Assets/Demigiant/DOTween/DOTween.dll.meta
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Editor.meta
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Editor/DOTweenEditor.dll.meta
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Examples.meta
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Examples/Basics.cs
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Examples/Basics.cs.meta
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Examples/Basics.unity
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Examples/Basics.unity.meta
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Examples/Sequences.cs
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Examples/Sequences.cs.meta
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Examples/Sequences.unity
unity/AlphaUnityProject/Assets/Demigiant/DOTween/Examples/Sequences.unity.meta
unity/AlphaUnityProject/Assets/Demigiant.meta
unity/AlphaUnityProject/Assets/Materials/Textures/Thumbs.db.meta
unity/AlphaUnityProject/Assets/SFX/doorOpen.wav.meta
unity/AlphaUnityProject/Assets/SFX/doorRumble.wav.meta
